@use "../styles/stitched" as *;

.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: .6rem 0.85rem;
  border-radius: 8px;
  font-size: 0.78rem;
  line-height: 1;
  text-align: center;
  background-color: color-mix(in srgb, var(--chip-color, var(--color-secondary)) 30%, transparent);
  color: var(--chip-color, var(--color-secondary));

  &-major {
    background: linear-gradient(to bottom, #e8606a, #d44a55);
    color: #fff8ef;
    // border: 2px solid rgba(255, 255, 255, 0.25);
  }

  &-minor {
    background: linear-gradient(to bottom, #f5a0b0, #e88a9a);
    color: #4a2030;
    // border: 2px solid rgba(255, 255, 255, 0.25);
  }

  &-patch {
    background: linear-gradient(to bottom, #f5b8c4, #e8a0b0);
    color: #4a2030;
    border: 2px solid rgba(255, 255, 255, 0.25);
  }

  &-stitched {
    @include stitched(rgb(255, 248, 239), 3.5px, 5px, 0.5, 1.5px);
  }
}
