.stitchedSecondary::after {
  content: "";
  position: absolute;
  inset: 6px;
  border: 2px dashed color-mix(in srgb, var(--color-secondary), black 20%);
  border-radius: 10px;
  opacity: 0.6;
  pointer-events: none;
}

.stitchedPrimary::after {
  content: "";
  position: absolute;
  inset: 6px;
  border: 2px dashed color-mix(in srgb, var(--color-primary), black 20%);
  border-radius: 10px;
  opacity: 0.6;
  pointer-events: none;
}
